<h1><%= @snack.name %></h1>
<p>Price: $<%= @snack.price %></p>
<p>Locations:</p>
<ul>
  <% @snack.machines.each do |machine| %>
    <li><%= machine.location %> (<%= pluralize(machine.snacks.count, 'kind') %> of <%= 'snack'.pluralize(machine.snacks.count) %>, average price of $<%= machine.average_snack_price.round(2) %>)</li>
  <% end %>
</ul>
